body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

.container {
    margin: 15px 5px 5px;
}

.containerInfo {
    display: wrap;
    margin: 15px 5px 5px;
}

.containerBtn {
    display: inline-block;
    flex-direction: column;
    margin: 15px 5px 5px;
}

.eventBtn {
    width: 9.5rem;
    margin: 5px;
    white-space: normal;
}
